label {
  display: flex;
}
span:not(:empty) {
  margin-left: 0.5em;
}
.disabled {
  opacity: 0.5;
}

input[type='checkbox'] {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:checked,
  &.indeterminate {
    background: var(--theme-checkbox-checked-bg, #4c91dc);
    border-color: var(--theme-checkbox-checked-bg, #4c91dc);
    &::before {
      transform: scale(1);
    }
  }

  &::before {
    background: var(--theme-checkbox-checked-mark, white);
    content: '';
    width: 0.65em;
    height: 0.65em;
    -webkit-clip-path: polygon(
      14% 44%,
      0 65%,
      50% 100%,
      100% 16%,
      80% 0%,
      43% 62%
    );
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 150ms transform ease-in-out;
  }

  &.indeterminate::before {
    background: var(--theme-checkbox-checked-mark, white);
    content: '';
    width: 0.65em;
    height: 0.15em;
    transform: scale(1);
    -webkit-clip-path: none;
    clip-path: none;
    transition: 150ms transform ease-in-out;
  }

  &:focus::after {
    background: currentColor;
    opacity: 0.2;
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
  }
}
