<header>
  <div class='select-all_cb'>
    <label>
      <Input
        aria-label={{if
          (not-eq (get this 'selected.length') (get this 'selectable.length'))
          'select all'
          'deselect all'
        }}
        @type='checkbox'
        disabled={{if (eq this.selectable.length 0) true}}
        aria-checked={{if this.partialSelected 'mixed'}}
        class={{if this.partialSelected 'indeterminate'}}
        indeterminate={{if this.partialSelected 'indeterminate'}}
        @checked={{get this 'selected.length'}}
        {{on 'change' this.selectAll}}
      />
    </label>
  </div>
  <div role='status' aria-live='polite'>
    {{if
      (eq this.selected.length 0)
      'None Selected'
      (concat 'Selected ' this.selected.length)
    }}
  </div>
  <button
    disabled={{if (eq this.selected.length 0) true}}
    class='button__icon'
    type='button'
    {{on 'click' (fn @onDownload (get this 'selected'))}}
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 20 20'
      fill='currentColor'
    >
      <path
        fill-rule='evenodd'
        d='M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z'
        clip-rule='evenodd'
      ></path>
    </svg>
    Download Selected
  </button>
</header>
<div style='overflow: auto;'>
  <table
    aria-multiselectable='true'
    role='grid'
    aria-rowcount={{@files.length}}
    aria-label='select files to download'
  >
    <thead>
      <tr>
        <td></td>
        <th scope='col'>Name</th>
        <th scope='col'>Device</th>
        <th scope='col'>Path</th>
        <th scope='col'>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each @files as |file idx|}}
        <tr
          class={{if (weakget this.vSelected file) 'selected'}}
          aria-selected={{if (weakget this.vSelected file) 'true' 'false'}}
        >
          <td class='selectable_cell'>
            <label
              aria-label='select {{file.name}}'
              class={{if (not-eq file.status 'available') 'disabled'}}
            >
              <Input
                @type='checkbox'
                @checked={{weakget this.vSelected file}}
                disabled={{if (not-eq file.status 'available') 'disabled'}}
                {{on 'change' (fn this.selectFile file)}}
                name='cb{{idx}}'
              />
            </label>
          </td>
          <td>{{file.name}}</td>
          <td>{{file.device}}</td>
          <td>{{file.path}}</td>
          <td class='status_cell status-{{file.status}}'>{{file.status}}</td>

        </tr>
      {{/each}}
    </tbody>
  </table>
</div>