table {
  width: 100%;
  border-collapse: collapse;
}
th {
  line-height: 3rem;
  vertical-align: text-bottom;
  padding: 0 1rem;
  font-weight: normal;
  text-align: left;
  background-color: var(--theme-table-background, white);
}
td {
  line-height: 2rem;
  vertical-align: middle;
  padding: 0 1rem;
  font-size: 0.8em;
  white-space: nowrap;
}
tbody tr td {
  border-top: 1px solid #ccc;
  background-color: var(--theme-table-background, white);
}

tbody tr:hover td {
  background-color: #eee;
}

tr.selected td {
  background-color: #ddd;
}

td.selectable_cell {
  position: sticky;
  left: -1px;
  width: 1rem;
}

header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--theme-table-background);

  & > * {
    margin: 0 1rem;
  }
}

.button__icon {
  height: 3rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  &:focus {
    outline: 1px solid #ccc;
  }
  & svg {
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.25em;
  }
}

.select-all_cb {
  font-size: 0.8rem;
}

.status_cell {
  text-transform: capitalize;
  padding-left: 1rem;
}

.status-available {
  position: relative;
  padding-left: 1rem;
  &::before {
    content: '';
    background-color: #7ed232;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: calc(50% - 0.25rem);
    left: 0rem;
    border-radius: 50%;
  }
}
